
<div class="container">

    <!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <br><br>
            <img class="img-fluid" ng-src="{{casopis.urlSlike}}" alt="" style="width:100%; max-width:400px;">
        </div>

        <div class="col-md-4">
            <br><br>
            <h3 class="my-3"><b>{{casopis.naziv}}</b></h3>
            <p><b>Urednik:</b> {{casopis.glavniUrednik.ime}} {{casopis.glavniUrednik.prezime}}</p>
            <p ng-if="!casopis.openAccess"><b>Cena:</b> {{cena}}$</p>
            <span ng-if="!casopis.openAccess">
                <h3 class="my-3">Načini kupovine:</h3>
                <div class="card-body">
                    <div><input type="radio" id="primerak" name="opcijeKupovine" value="primerak" checked>
                        <label for="primerak">1 primerak</label></div>
                    <div><input type="radio" id="pretplata1g" name="opcijeKupovine" value="pretplata1g" >
                        <label for="pretplata1g">Pretplata na 1 godinu</label></div>

                </div>
            </span>
            <button  ng-if="!casopis.openAccess"type="button" class="btn btn-outline-info" ng-click="kupi()">KUPI</button>
            <button  ng-if="casopis.openAccess"type="button" class="btn btn-outline-info" ng-click="preuzmi()">PREUZMI</button>
        </div>
        <div class="col-md-2"></div>

    </div>
    <!-- /.row -->
    <br><br>
    <h3 class="my-4">Radovi</h3>


    <div class="scrollmenu ">

        <div class="col-md-3 col-sm-6 mb-4 card" ng-repeat="rad in radovi" style="text-align: center">
            <a style="cursor:pointer;" ng-click="naRad(rad.id)">
                <img class="img-fluid" ng-src="{{rad.urlSlike}}" alt="" style="width:100%; max-width:150px;" >
            </a>
            <p><i><b>"{{rad.naslov}}"</b></i></p>
        </div>

    </div>
    <!-- /.row -->


</div>
<!-- /.container -->
