<div>

    <div class="row profile">
        <div class="col-md-2">
            <div class="profile-sidebar">
                <div class="buttons">

                    <br>
                    <button id="dugmeDorade"  style="display: block;" class="btn-primary btn-sm" ng-click="recenzije()">Recenzirani radovi</button>
                    <br>
                    <button id="dugmeObjavljeno"  style="display: block;" class="btn-primary btn-sm" ng-click="objavljeno()">Objavljeni radovi</button>

                </div>
                <!-- END SIDEBAR BUTTONS -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div id="prikaziNaDoradi" >
                    <h3 class="nav-link">Radovi vraćeni na doradu:</h3>
                    <table>
                        <tr ng-repeat="res in naDoradi">
                            <td>
                                <p>
                                    <b>Rad:</b>
                                    "{{res.naslov}}"

                                </p>

                                <p><b>Komentari:</b></p>
                                <textarea style="height:200px;width:500px;overflow-y: scroll;" disabled> >>{{res.komentari.join('\n >>')}}</textarea>
                                <br>
                                <hr>
                                <div id="uploadRad">
                                    <p><b>Nova verzija:  </b></p>
                                    <form id="odgovorUploadForm" name="odgovorUploadForm">
                                        <p><b>Odgovor: </b></p>
                                        <textarea id="odgovor{{res.id}}" style="height:200px;width:500px;overflow-y: scroll;" ></textarea>
                                        <br>
                                        <input id="singleFileUploadInput{{res.id}}" type="file" name="file" required />
                                    </form>
                                    <br>
                                    <button class="btn btn-primary" ng-click="slanje(res.id)">Pošalji</button>
                                </div>


                                <hr>
                            </td>
                    </table>
                </div>
                <div id="prikaziObjavljeno" style="display:none">
                    <h3 class="nav-link">Objavljeni radovi:</h3>
                    <table>
                        <tr ng-repeat="res in objavljeniRadovi">
                            <td>
                                <img ng-src="{{res.urlSlike}}" class="img-responsive" alt="" style="display: block; margin-left: auto;margin-right: auto;width: 30%;">
                            </td>

                            <td>

                                <p>
                                    <b>Rad:</b>
                                    <a style="cursor:pointer; color:#088aa8" ng-click="naRad(res.id)">
                                        <i>"{{res.naslov}}"</i>
                                    </a>

                                </p>
                                <p>
                                    <b>Naučna oblast:</b> {{res.naucnaOblast.split('_').join(' ')  | lowercase}}
                                </p>

                                <hr>
                            </td>
                    </table>

                </div>

            </div>
        </div>
    </div>
    <iframe id="my_iframe" style="display:none;"></iframe>


</div>