<div class="grid-container">
    <div ng-repeat="c in casopisi">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" ng-src="{{c.urlSlike}}" alt="Slika casopisa">
            <div class="card-body">
                <h5 class="card-title">{{c.naziv}}</h5>
                <p ng-if="c.openAccess" class="card-text">Besplatan sadržaj</p>
                <p ng-if="!c.openAccess" class="card-text">Cena: {{c.cena}}$</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Radovi</li>
             </ul>

            <div class="card-body">
                <button type="button" class="btn btn-outline-info card-link"  ng-click="kupi(c.id)" ng-if="!c.openAccess">KUPI</button>
                <button type="button" class="btn btn-outline-info card-link"  ng-if="c.openAccess" >PREUZMI</button>
            </div>
        </div>
    </div>
</div>