<div class="grid-container">
    <div ng-repeat="c in casopisi">
        <div class="card" style="width: 18rem;">
            <img  style="cursor:pointer;"  ng-click="kupi(c.id)" class="card-img-top" ng-src="{{c.urlSlike}}" alt="Slika casopisa">
            <div class="card-body">
                <h5 class="card-title">{{c.naziv}}</h5>
                <p ng-if="c.openAccess" class="card-text">Besplatan sadržaj</p>
                <p ng-if="!c.openAccess" class="card-text">Cena: {{c.cena}}$</p>
            </div>
            <!--<ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a style="cursor:pointer;" class="nav-link" ng-click="sviRadovi(c.id)">Radovi</a>
                </li>
             </ul>-->

            <div class="card-body">
                    <button type="button" class="btn btn-outline-info card-link"  ng-click="kupi(c.id)">DETALJI</button>
            </div>
        </div>
    </div>
</div>