<div width='100%'>
    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">Početna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Podešavanja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" ng-click="novirad()">Novi Rad</a>
            </li>
            <li id="prijava" class="nav-item">
                <a class="nav-link active" ng-click="prijava()">Prijava</a>
            </li>
            <li id="odjava" class="nav-item">
                <a class="nav-link active" ng-click="odjava()">Odjava</a>
            </li>

        </ul>
    </div>

    <div><img style=" width: 100%" src="/assets/images/header.jpg"></div>
</div>
<div>
    <ui-view> </ui-view>
</div>

</div>