<div width='100%'>
    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">Početna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Podešavanja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="novirad()">Novi Rad</a>
            </li>
            <li id="prijava" class="nav-item">
                <a class="nav-link" ng-click="prijava()">Prijava</a>
            </li>
            <li id="odjava" class="nav-item">
                <a class="nav-link" ng-click="odjava()">Odjava</a>
            </li>

        </ul>
    </div>
</div>
<div>
    <ui-view> </ui-view>
</div>

</div>