<div id="base" width='100%'>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a style="cursor:pointer;" class="nav-link" href="#">Početna</a>
                </li>
                <li class="nav-item">
                    <a style="cursor:pointer;" class="nav-link"  ng-click="profil()">Profil</a>
                </li>
                <li class="nav-item" ng-show="sub.includes('urednik')">
                    <a style="cursor:pointer;" class="nav-link"  ng-click="taskovi()">Taskovi</a>
                </li>
                <li class="nav-item" ng-hide="sub.includes('urednik')">
                    <a style="cursor:pointer;" class="nav-link"  ng-click="novirad()">Novi rad</a>
                </li>

            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Naučna centrala</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="navbar-form">
                        <div class="form-group inner-addon right-addon has-feedback" style="display:inline;">
                            <div class="input-group">
                                <input type="text" placeholder="Pretraga" id="zaPretragu" class="form-control" ng-keypress="($event.charCode==13)? trazi() : return">
                                <button type="button" ng-click="trazi()" class="btn btn-primary">
                                    Traži
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a style="cursor:pointer;" class="nav-link" data-toggle="modal" data-target="#naprednaPretragaModal">Napredna pretraga</a>
                </li>
                <li id="prijava" class="nav-item">
                    <a style="cursor:pointer;" class="nav-link" ng-click="prijava()">Prijava</a>
                </li>
                <li id="odjava" class="nav-item">
                    <a style="cursor:pointer;" class="nav-link" ng-click="odjava()">Odjava</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Rezultati</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <table>
                    <tr ng-repeat="res in results" ng-click="naRad(res.radIndexUnit.id)">

                       <td>
                           <p>
                               <b>Rad:</b>
                               <a style="cursor:pointer; color:#088aa8" ng-click="naRad(res.radIndexUnit.id)">
                                   <i>"{{res.radIndexUnit.naslov}}"</i>
                               </a>
                           </p>
                           <p>
                               <b>Časopis:</b>
                               <a style="cursor:pointer; color:#088aa8" ng-click="naCasopis(res.radIndexUnit.casopisId)">
                                   <i>{{res.radIndexUnit.casopis}}</i>
                               </a>
                           </p>
                           <p>
                               <b>Autor:</b> {{res.radIndexUnit.autor}}
                           </p>
                           <p>
                               <b>Naučna oblast:</b> {{res.radIndexUnit.naucnaOblast}}
                           </p>
                            <p style="background:#ededed" ng-bind-html="trustDangerousSnippet(res.highlight)">{{res.highlight}}</p>
                            <button class="btn btn-primary" ng-if="res.radIndexUnit.openAccess" ng-click="skini(res.radIndexUnit.id)">PREUZMI</button>
                            <button class="btn btn-primary" ng-if="!res.radIndexUnit.openAccess" naRad(res.radIndexUnit.id)>KUPI</button>
                           <hr>
                        </td>


                </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="naprednaPretragaModal" tabindex="-1" role="dialog" aria-labelledby="naprednaPretragaTitle" aria-hidden="true">
        <div class="modal-dialog  modal-lg"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="naprednaPretragaTitle">Napredna pretraga</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="naprednaFormaBody" class="modal-body" >
                    <div id="forma" class="row" style="display:inline;">
                        <div class="col-md-8 text" style="display:inline;">
                            <div class="form-inline" style="display:inline;">
                                <div class="form-group" style="display:inline;">
                                    <select id="zona0" class="form-control choice-select" style="display:inline;">
                                        <option value="sve">Sva polja</option>
                                        <option value="naslov">Naslov</option>
                                        <option value="sadrzaj">Sadržaj</option>
                                        <option value="autori">Autori</option>
                                        <option value="kljucniPojmovi">Ključni pojmovi</option>
                                    </select>
                                </div>
                                <div class="form-group"style="display:inline;">
                                    <input id="upit0" class="form-control" type="text" placeholder="Upit">
                                </div>
                                <div class="form-group" style="display:inline;">
                                    <input id="checkbox0" type="checkbox" value="">
                                    <label style="display:inline;">Fraza</label>
                                    <button type="button" class="btn btn-primary justify-content-end" ng-click="dodajPolja()" style="display:inline;">Dodaj</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <fieldset>
                                <br>
                                <p>Naučne oblasti:</p>
                                <label><input  class="naucneOblasti" type="checkbox" value="prirodno matematicke nauke">Prirodno matematičke nauke</label>
                                <label><input  class="naucneOblasti"  type="checkbox" value="tehnicko tehnoloske nauke">Tehničko tehnološke nauke</label>
                                <label><input  class="naucneOblasti"  type="checkbox" value="drustveno humanisticke nauke">Društveno hummanističke nauke</label>
                                <label><input  class="naucneOblasti"  type="checkbox" value="medicina">Medicina</label>
                                <label><input  class="naucneOblasti"  type="checkbox" value="umetnost">Umetnost</label>
                            </fieldset>
                        </div>

                        <span id="dodatnaPolja"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="naprednaPretraga()">Pretraga</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>

    <!--<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" >Početna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="novirad()">Novi Rad</a>
                </li>

            </ul>
        </div>
        <div class="mx-auto order-0">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li id="prijava" class="nav-item">
                    <a class="nav-link active" ng-click="prijava()">Prijava</a>
                </li>
                <li id="odjava" class="nav-item pull-right">
                    <a class="nav-link active" ng-click="odjava()">Odjava</a>
                </li>
            </ul>
        </div>
    </nav>-->

   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div  class="collapse navbar-collapse">
      &lt;!&ndash;  <img class="nav justify-content-start" style=" width: 100% max-width:50px" src="/assets/images/header.jpg">&ndash;&gt;
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Početna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" ng-click="novirad()">Novi Rad</a>
            </li>
            <li id="prijava" class="nav-item pull-right">
                <a class="nav-link active" ng-click="prijava()">Prijava</a>
            </li>
            <li id="odjava" class="nav-item pull-right">
                <a class="nav-link active" ng-click="odjava()">Odjava</a>
            </li>

        </ul>
    </div>
    </nav>-->
    <div></div>
</div>
<div>
    <ui-view> </ui-view>
</div>

</div>