<div class="modal-body">


    <div class="row profile">
        <div class="col-md-4">
            <div class="profile-sidebar">
                <h3>Odabir recenzenata</h3>
                <br>
                <div >
                    <label >Udaljenost: <input id="udaljenost" type="text" max-width="70px" placeholder="Udaljenost"> km</label>
                 </div>
                <div>
                     <label  ><input  id="moreLikeThis" type="checkbox" value="moreLikeThis">Samo recenzetni sličnih radova</label>
                </div>

                <br>
                <p><b>Naučne oblasti:</b></p>
                <div style="text-align: center">
                    <fieldset style="display:inline-block; border:2px solid #ccc; width:350px; height: 300px; overflow-y: scroll; ">

                        <div style="text-align: left"><label ><input  class="naucneOblasti" type="checkbox" checked value="prirodno matematicke nauke">Prirodno matematičke nauke</label></div>
                        <div style="text-align: left" ><label><input  class="naucneOblasti"  type="checkbox" checked value="tehnicko tehnoloske nauke">Tehničko tehnološke nauke</label></div>
                        <div style="text-align: left"><label><input   class="naucneOblasti"  type="checkbox" checked value="drustveno humanisticke nauke">Društveno hummanističke nauke</label></div>
                        <div style="text-align: left"><label><input   class="naucneOblasti"  type="checkbox"checked value="medicina">Medicina</label></div>
                        <div style="text-align: left"><label><input  class="naucneOblasti"  type="checkbox" checked value="umetnost">Umetnost</label></div>
                    </fieldset>
                </div>
                <br>
                <button type="button" class="btn btn-primary justify-content-end" ng-click="ponisti()">Ukloni filtere</button>
                <button type="button" class="btn btn-primary justify-content-end" ng-click="primeni()">Primeni</button>
            </div>
        </div>

        <div class="col-md-5">
            <div class="profile-content">

                <p><b>Recenzenti:</b></p>
                <fieldset style="  border:2px solid #ccc; width:300px; height: 300px; overflow-y: scroll; ">

                    <div ng-repeat="r in recenzenti">
                        <label><input  class="recenzent" type="checkbox" value="{{r.id}}">{{r.ime}} {{r.prezime}}</label>
                    </div>

                </fieldset>
                <br>
                <button type="button" class="btn btn-primary justify-content-end" ng-click="primeni()">Pošalji</button>
            </div>
        </div>
    </div>
</div>