<div class="container" ng-init="init()">

	<label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required ng-model="username">

    <label for="pass"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pass" required ng-model="pass">

    <label for="pass"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required ng-model="email">

    <button type="submit" ng-click="register()">Register</button>
    
</div>